<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.stefan.storevault</string>
        <key>ProgramArguments</key>
        <array>
                <string>bash</string>
                <string>-c</string>
                <string>cd ~/Documents/Research\ Vault;git status;git commit -a -m "$(date +"%D %T")";git push origin master</string>
        </array>
        <key>WorkingDirectory</key>
        <string>/Users/stefan/Library/LaunchAgents</string>
        <key>StartCalendarInterval</key>
        <dict>
                <key>Hour</key>
                <integer>12</integer>
        </dict>
        <key>StandardOutPath</key>
        <string>/Users/stefan/Library/LaunchAgents/com.stefan.storevault.out.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/stefan/Library/LaunchAgents/com.stefan.storevault.error.log</string>
</dict>
</plist>