<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>Label</key>
        <string>com.stefan.watchvault</string>
        <key>ProgramArguments</key>
        <array>
                <string>bash</string>
                <string>-c</string>
                <string>cd ~/Documents/Research\ Vault;git add *;</string>
        </array>
        <key>WorkingDirectory</key>
        <string>/Users/stefan/Library/LaunchAgents</string>
        <key>WatchPaths</key>
        <array>
                <string>/Users/stefan/Documents/Research Vault</string>
        </array>
        <key>StandardOutPath</key>
        <string>/Users/stefan/Library/LaunchAgents/com.stefan.watchvault.out.log</string>
        <key>StandardErrorPath</key>
        <string>/Users/stefan/Library/LaunchAgents/com.stefan.watchvault.error.log</string>
</dict>
</plist>